.container {
    display: flex;
    flex-direction: row;
    background-color: darkblue;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.box {
    background-color: rgb(0, 0, 107);
    /* border: 1px solid black; */
    border-style: solid;
    border-width: 0;
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex: 1;
}

#controls-container {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.333);
    border: 2px solid black;
    border-radius: 3px;
    top: 10px;
    left: 10px;
    z-index: 1;
    padding: 10px;
    color: aliceblue;
}

#controls-container p {
    margin: 0 auto;
}

#sliders-container {
    padding: 10px;
}

#code-box {
    background-color: rgba(8, 5, 8, 0.712);
    border-color: rgb(77, 54, 99);
    color: aliceblue;
    margin-bottom: 5px;
}

#submit {

}

#show {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    color: blue;
    z-index: 1;
}

#error-display {
    /* border: 2px solid red; */
    /* background-color: rgba(255, 0, 0, 0.288); */
    color: rgb(255, 93, 93);
    padding: 5px;
}